body {
    color: #333;
    background-color: rgb(161, 161, 161);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#containter {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
    font-size: 16px;
}

#containter h1 {
    font-size: 20px;
}

#cabecera {
    background: #eee;
    font-weight: bold;
    margin: 0;
    padding: 1rem;
    font-size: 30px;
    text-align: center;
}

#Tagline {
    font-size: 20px;
    padding-left: 20px;
}

#post {
    padding: 1em;
    color: rgb(202, 202, 202);
    background-color: #333;
}

img {
    display: block;
    margin: auto auto;
    height: 7rem;
}

.footer {
    background-color: #eee;
    color: #333;
    text-align: center;
    padding: 10px;
}